.sideTab{
    width: 500px;
    height: 100vh;
    background-color: grey;
}
.main{
  display:flex; flex-direction:row;
}
/* .sideTab {
    background-color: #fff;
    transition: width 0.3s;
    overflow: hidden;
  }
  
  .sideTab.extended {
    width: 200px; 
  } */
  